./experiments/eeg/models/*
./experiments/eeg/resources/*
./experiments/eeg/rtfe/*
./experiments/online/resources/*.wav
./experiments/online/data/*
./experiments/validation/data/*
./experiments/validation/resources/*.wav

./analysis/validation/data/*
./analysis/online/data/*
./analysis/eeg/data/*

./analysis/spaces/dumps/*
./analysis/spaces/llama-7b/*
./analysis/spaces/glove-german/*
./analysis/spaces/text-embedding-ada-002/*
./analysis/spaces/bert-base-german-cased/*

*.wav
*.npy
*.gz.pkl