annotated_types==0.7.0
arviz==0.20.0
beautifulsoup4==4.11.2
gammatone@git+https://github.com/detly/gammatone
gensim==4.3.0
librosa==0.10.1
matplotlib==3.7.0
mne==1.9.0
mne_bids==0.16.0
mne_bids_pipeline==1.9.0
numpy==1.23.5
pandas==1.5.3
Pillow==9.4.0
pymc==5.7.2
pytensor==2.14.2
Requests==2.32.3
scikit_learn==1.2.1
scipy==1.10.1
seaborn==0.13.2
soundfile==0.12.1
torch==2.5.1
transformers==4.29.2
umap_learn==0.5.3